<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <!-- <link rel="stylesheet" type="text/css" href="app-stylesheets/boring-style.css"> -->
  </head>
  <body>
    <h1></h1>
    <p>
      <h3> {{u_1}}, Your Top Artists: </h3>
      {% for i in range(5) %}
      <p>{{ l_artists_o[i] }} - {{ l_songs_o[i] }} songs</p>
      {% endfor %}
    </p>
    <p>
      {% for key, value in d_artists.iteritems() %}
     <dt>{{ key }}</dt>
     <dd>{{ value }}</dd>
     {% endfor %}
      <p>
      ----------------------------------------
      </p>
      {% for item in l_artists %}
      <p>{{ item }}</p>
      {% endfor %}
      {{ text }}
    </p>
    <!-- <form method=POST action="/">
      Your Favorite Food:<br>
      <input type="text" name="user-fav-food" value="Nachos">
      <input type="submit" value="I'm Hungry">
    </form> -->
  </body>
</html>
